<div class="jumbotron">
    <h1>Choose your victim</h1>
</div>
<div class="row marketing">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueTony()"><img src="/src/images/tony.png" alt="" class="img-rounded" width="170" height="207"></a>
            <div class="caption">
                <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueTony()">
                    <h3 class="text-center">Tony Tonne</h3></a>
                <a class="btn btn-primary center-block" role="button" routerLink="/search" (click)="saveValueTony()">Choose</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueSarah()"> <img src="/src/images/sarah.png" alt="" class="img-rounded" width="170" height="207"></a>
            <div class="caption">
                <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueSarah()">
                    <h3 class="text-center">Sarah Gabriel</h3></a>
                <a class="btn btn-primary center-block" role="button" routerLink="/search" (click)="saveValueSarah()">Choose</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueJoe()"> <img src="/src/images/albus.png" alt="" class="img-rounded" width="170" height="207"></a>
            <div class="caption">
                <a routerLink="/search" STYLE="text-decoration: none" (click)="saveValueJoe()">
                    <h3 class="text-center">Joe Merlin</h3></a>
                <a class="btn btn-primary center-block" role="button" routerLink="/search" (click)="saveValueJoe()">Choose</a>
            </div>
        </div>
    </div>
</div>
