<div class="well well-lg">
    <h2>Notes</h2>
    <div class="panel panel-info">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input #newNote type="text" class="form-control" (keyup.enter)="addNote(newNote.value)" (blur)="addNote(newNote.value); newNote.value='' ">
                    <button class="btn btn-info btn-block" btn-block type="button" (click)=addNote(newNote.value)>Add Note</button>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let note of notes">{{note}}<span class="badge" (click)="deleteNote()">     X</span></li>
                </ul>
            </div>
        </form>
    </div>
</div>
