<div>
    <h3>Search Page</h3>
    <div class="resource">
        <h4>What can you find about {{  name }} ?</h4>
        <form>
            <input type="text" name="search" placeholder="elgoog">
        </form>
        <!-- add in the button in for the search -->
        <div>
            <!-- Add the logic here to check if the namme is {{name }} and then dispaly the correct links else show the  dummy results - toaster hint that they have done the wrong thing -->
        </div>
    </div>
</div>
