<ng2-sidebar [(open)]="_open">
    <button type="button" class="close" aria-hidden="true" closeSidebar>&times;</button>
    <notepad></notepad>
</ng2-sidebar>
<div class="jumbotron">
    <h1>Research your {{ victim }}</h1>
    <p class="lead">Use the google search below to find information about {{ Victim }}.</p>
    <p class="lead"> Open the notepad to make notes found in your research</p>
</div>
<button type="button" class="btn btn-info btn-lg btn-block" (click)="_toggleSidebar()">Open Notepad</button>
<div class="container">
    <img src="/src/images/Noogle.png" />
    <form>
        <div class="form-group">
            <div class="input-group">
                <input #box type="text" class="form-control" (keyup.enter)="searchVar=box.value">
                <span class="input-group-btn">
                  <button class = "btn btn-default" type="button" (click)="searchVar=box.value">
                     Search
                  </button>
               </span>
            </div>
        </div>
    </form>
</div>
<div class="row marketing" [ngSwitch]="searchVar">
    <div class="col-lg-6" *ngSwitchCase="'Tony'">
        <h4>Tony Stuff</h4>
        <a routerLink="/twitter">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Tony Stuff2</h4>
        <a routerLink="/search">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Tony Stuff3</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="col-lg-6" *ngSwitchCase="'Joe'">
        <h4>Joe Stuff</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Joe Stuff2</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Joe Stuff3</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="col-lg-6" *ngSwitchCase="'Sarah'">
        <h4>Sarah Stuff</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Sarah Stuff2</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
        <h4>Sarah Stuff3</h4>
        <a href="#">linkaddresswitha.com</a>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentu m nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
</div>
