<div class="jumbotron">
    <h1>Let's Go Phishing!</h1>
    <img class="img-responsive" src="/src/images/phishing.png" />
    <hr />
    <p><a class="btn btn-lg btn-success" routerLink="/char" role="button">Begin Criminal Activity</a></p>
</div>
<div class="row marketing">
    <div class="col-md-12">
        <h4>Connect the Dots and Steal some money!</h4>
        <p>Your challenge is to try and steal information and hopefully money from an unsuspecting character by research a target, connect the dots and launch a phising attack!</p>
    </div>
</div>
