<div class="jumbotron">
    <h1>Let's Go Phishing!</h1>
    <p><a class="btn btn-lg btn-success" routerLink="/char" role="button">Begin Crimal Activty</a></p>
</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Connect the Dots</h4>
        <p>You challenge is to try and steal information and hopefully money from an unsuspecting character by performing research and connecting the dots to come up with a successful cyber attack</p>
    </div>
    <!--     <a class="btn btn-lg btn-danger" role="button" routerLink="/jail">Jail</a>
    <a class="btn btn-lg btn-danger" role="button" routerLink="/phish">Phish</a> -->
</div>
